.schedule-container {
    width: 800px;
    height: 400px;
}

.schedule-day {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
    border: 1px solid aliceblue;
    border-radius: 5px;
    margin-bottom: 10px;
}

.schedule-day-date {
    width: 20%;
    border-right: 1px solid aliceblue;
    margin-right: 10px;
}

.schedule-day-list{
    width: 80%;
}

.schedule-day-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
    
}

.schedule-day-row:not(:first-child){
    padding-top: 10px;
}

.schedule-day-row:not(:last-child){
    border-bottom: 1px solid aliceblue;
    padding-bottom: 10px;
}

.schedule-day-row-time{
    display: flex;
    justify-content: center;
    width: 40%;
}
.schedule-day-row-name{
    display: flex;
    justify-content: center;
    width: 40%;
}

.schedule-day-row-button{
    width: 15%;
}

.schedule-day-row-button button{
    display: flex;
    justify-content: center;
    width: 100%;
    border: 0;
    border-radius: 5px;
    color: aliceblue;
}

.schedule-day-row-button .create{
    background-color:rgb(190, 115, 65);
}

.schedule-day-row-button .join{
    background-color:rgb(48, 117, 38);
}



